<h1>Bhalissa fil-qoffa ghandek:</h1>
<ul>
    <% @tasks.each do |t| %>
        <li><%= link_to t.title, task_path(t) %> , <%= t.completed %>  </li>
    <% end %>
</ul>

<%= link_to "Zid +", 'tasks_new_path' %>
