<h1>Dwar il-Qoffa 🧺</h1>
<p>Il-Qoffa huwa spirat mill-listi tax-xiri li kienet thalli fuq il-mejda ta' barra in-Nanna tieghi. Minnhom kont nilmah il-hsibijiet taghha, il-twehdin fuq it-tfal u l-familja taghha u ma jonqosx, dejjem l-imhabba ghall-ikel bnin mediterran u tradizzjonali. Dejjem kilna bnin u tajjeb, u ta' dan nizzik hajr lilha. Dan l-app huwa omagg ghalik, Nan!</p>