*{
    font-family: $font-family;
    background-color: $cultured;
}
img{
    width: 32px;
    &:hover {
        background: $yellow-crayola;
        cursor: pointer;
    }
}

li{
    width: 100%;
    font-family: $slant-font;
    &:hover{
        background-color: $yellow-crayola;
        & a, img{
            background-color: $yellow-crayola;
            text-decoration: none;
        }
    }
    & a {
        font-family: $slant-font;
        text-decoration: none;
        font-size: 24px;
    }
}