*{
    font-family: $font-family;
}
img{
    width: 32px;
    &:hover {
        background: $yellow-crayola;
        cursor: pointer;
    }
}

div{
    border: 1px gray dotted;
}
li{
    border: 2px $gunmetal solid;
    width: 100%;
    padding: .7em 0;
    background: white;
    font-family: $slant-font;
    &:hover{
        background: $gunmetal;
        color: $cultured;
        & a{
            color: $cultured;
        }
    }
    & a {
        font-family: $slant-font;
        font-size: 18px;
    }
}
li::before{
    content: url(reader-outline.svg);
}